(
    shoot_time: 0.4,
    bullet_time: 6.0,
    self_safety_margin: 3.0,
    bullet_density: 25.0,
    bullet_margin: 1.5,
    bullet_radius: 3.0,
    bullet_velocity: 140.0,
    bullet_restitution: 1.0,
    bullet_sprite_num: 2
)