(
    cell_width: 64.0,
    cell_height: 64.0,
    w_thickness: 8.0,
    // This is the width of a single half of the maze, which gets reflected to form a second half
    maze_width: 4,
    maze_height: 5,
    sprite_num: 3,
    sprite_length: 64.0,
    sprite_width: 2.0,
)
