List((
  texture_width: 64,
  texture_height: 64,
  sprites: [
    // Cannon spawn
    (
      x: 0,
      y: 0,
      width: 17,
      height: 17,
    ),
    // Beamer spawn
    (
      x: 17,
      y: 0,
      width: 17,
      height: 17,
    )
  ]
))