List((
  texture_width: 72,
  texture_height: 64,
  sprites: [
    // Breach
    (
      x: 0,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Trophy system
    (
      x: 24,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Snipe
    (
      x: 48,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Sombra
    (
      x: 0,
      y: 25,
      width: 24,
      height: 24,
    ),
    // Raze
    (
      x: 24,
      y: 25,
      width: 24,
      height: 24,
    ),
    // Despacito
    (
      x: 48,
      y: 25,
      width: 24,
      height: 24,
    ),
    // Rocket
    (
      x: 19,
      y: 51,
      width: 8,
      height: 13,
    )
  ]
))