List((
  texture_width: 64,
  texture_height: 64,
  sprites: [
    // Red tank
    (
      x: 0,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Blue tank
    (
      x: 24,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Neutral bullet
    (
      x: 58,
      y: 1,
      width: 6,
      height: 6,
    ),
    // A rocket
    (
      x: 58,
      y: 9,
      width: 6,
      height: 9,
    )
  ]
))