List((
  texture_width: 64,
  texture_height: 64,
  sprites: [
    // Red tank
    (
      x: 0,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Blue tank
    (
      x: 24,
      y: 0,
      width: 24,
      height: 24,
    ),
    // Neutral bullet
    (
      x: 58,
      y: 1,
      width: 6,
      height: 6,
    ),
    // Maze wall
    (
      x: 0,
      y: 25,
      width: 64,
      height: 2,
    ),
    // TODO: Remove these two
    // Red beam pixel
    (
      x: 62,
      y: 24,
      width: 1,
      height: 1,
    ),
    // Blue beam pixel | 5
    (
      x: 63,
      y: 24,
      width: 1,
      height: 1,
    ),
    // Light pixel
    (
      x: 0,
      y: 27,
      width: 1, height: 1,
    ),
    // Gray pixel
    (
      x: 1,
      y: 27,
      width: 1, height: 1,
    ),
    // Dark pixel
    (
      x: 2,
      y: 27,
      width: 1, height: 1,
    ),
    // Light red pixel
    (
      x: 0,
      y: 28,
      width: 1, height: 1,
    ),
    // Dark red pixel | 10
    (
      x: 1,
      y: 28,
      width: 1, height: 1,
    ),
    // Light blue pixel
    (
      x: 0,
      y: 29,
      width: 1, height: 1,
    ),
    // Dark blue pixel
    (
      x: 1,
      y: 29,
      width: 1, height: 1,
    ),
    // A rocket
    (
      x: 58,
      y: 9,
      width: 6,
      height: 9,
    )
  ]
))